.nav_item {
    --item-size: 70px;
    width: var(--item-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_button {
    --button-size: calc(var(--item-size) * 0.8);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
    cursor: pointer;

}

.icon_button:hover{
    filter: brightness(1.2);
}

.dropdown {
    z-index: 1;
    position: absolute;
    top: 64px;
    width: 200px;
    transform: translate(-45%);
    padding: 1rem;
    overflow: hidden;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.menu_item {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    transition: background 0.3s;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
}

.menu_item:hover {
    /* background-color: #99a8e2; */
    background-color: #D94A98;
    color: white;
}